.series-title {
    font-size: medium;
    background-color: inherit;
}

.series-detail {
    font-size: small;
    opacity: 0.5;
    background-color: inherit;
}

.series-small-title {
    text-align: center;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.series-small-year {
    text-align: center;
    font-size: small;
    opacity: 0.5;
}
