[Unit]
Description=TakeoutFM server
Documentation=https://takeoutfm.com/docs/server/
After=network.target

[Service]
ExecStart=/usr/bin/takeout
User=takeout

CacheDirectory=takeout
LogsDirectory=takeout
RuntimeDirectory=takeout
StateDirectory=takeout

Type=notify
WatchdogSec=60s
WatchdogSignal=SIGKILL

Restart=always
RestartSec=5

LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=yes
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
