<div>
  <h1>Activity</h1>
  <div style="text-align: center;">
    <a data-link="/v?activity=recent" class="takeout">Recent</a>
    <a data-link="/v?activity=lastweek" class="takeout">Last Week</a>
    <a data-link="/v?activity=lastmonth" class="takeout">Last Month</a>
    <a data-link="/v?activity=lastyear" class="takeout">Last Year</a>
    <a data-link="/v?activity=year" class="takeout">This Year</a>
    <a data-link="/v?activity=month" class="takeout">This Month</a>
    <a data-link="/v?activity=week" class="takeout">This Week</a>
    <a data-link="/v?activity=yesterday" class="takeout">Yesterday</a>
    <a data-link="/v?activity=today" class="takeout">Today</a>
  </div>
  <div class="three-col-grid">
    <div>
      <h2>Artists ({{ .ArtistCount }})</h2>
      <table class="act-table" style="border: 1px solid; border-spacing: 15px;">
	{{ range .Artists }}
	<tr class="act-row">
	  <td><a data-link="{{.Artist|link}}">{{ .Artist.Name }}</a></td>
	  <td class="act-count">{{ .Count }}</td>
	</tr>
	{{ end }}
      </table>
    </div>
    <div>
      <h2>Releases ({{ .ReleaseCount }})</h2>
      <table class="act-table" style="border: 1px solid; border-spacing: 15px;">
	{{ range .Releases }}
	<tr class="act-row">
	  <td class="np-cover">
	    <img class="mini-cover" src="{{call $.CoverSmall .Release}}"/>
	  </td>
	  <td>
	    <div><a data-link="{{.Release|link}}">{{ .Release.Name }}</a></div>
	    <div class="artist-subtitle">{{ .Release.Artist }}</div>
	  </td>
	  <td class="act-count">{{ .Count }}</td>
	</tr>
	{{ end }}
      </table>
    </div>
    <div>
      <h2>Tracks ({{ .TrackCount }}) &#8226 Listens ({{ .ListenCount }})</h2>
      <table class="act-table" style="border: 1px solid; border-spacing: 15px;">
	{{ range .Tracks }}
	<tr class="act-row">
	  <td class="np-cover">
	    <img class="mini-cover" src="{{call $.CoverSmall .Track}}"/>
	  </td>
	  <td>
	    <div>{{ .Track.Title }}</div>
	    <div class="artist-subtitle">{{ .Track.Artist }}</div>
	  </td>
	  <td class="act-count">{{ .Count }}</td>
	</tr>
	{{ end }}
      </table>
    </div>
  </div>
</div>
